/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* CSS Variables for Light and Dark Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* General HTML and Body Styling */
html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */ 
  
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: var(--foreground);
  background: var(--background);
}

/* Box Model Reset */
* {
  box-sizing: border-box;
}

/* Anchor Tag Styling */
a {
  color: #3b82f6; /* Tailwind's text-blue-500 color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Support for Dark Mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

